* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body {
    display: flex;
    background: linear-gradient(to bottom right, #f0f6ff, #e8f1ff);
    color: #333;
    font-family: 'Poppins', sans-serif;
}
.sidebar {
    width: 230px;
    background: linear-gradient(180deg, rgb(117, 166, 240), rgb(86, 140, 230));
    border-right: none;
    height: 100vh;
    position: fixed;
    padding: 20px;
    color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
.logo {font-weight: 700; font-size: 22px; color: #ff4500; margin-bottom: 20px;}
.menu {list-style: none;}
.menu li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}
.menu li.active, .menu li:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    transform: translateX(4px);
    border-radius: 8px;
    padding-left: 10px;
}
.logout {margin-top: 40px; color: #d33;}

.main {
  margin-left: 250px;
  padding: 30px;
  width: calc(100% - 250px);
}
header {
    display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 15px 20px;
        border-radius: 12px;
        box-shadow: 0 3px 8px rgba(117, 166, 240, 0.15);
}